:root {
    --normal-font-color : rgba(160, 160, 160, 1);;
    --onhover-font-color : white;
    --menu-bg : rgba(10, 10, 10, 1);
    --menu-bg-hover : rgba(40, 40, 40, 1);
    --footer-bg : rgba(40, 40, 40, 1);
    
}

/*Scrollbar*/
/*For FireFox*/
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(83, 83, 83, 1) var(--footer-bg);
}

*:hover{
    transition: .2s;
}

*:active{
    scrollbar-color: rgba(100, 100, 100, 1) var(--footer-bg);
}

/*For Chrome/Safari/Edge*/
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: inherit;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(83, 83, 83, 1);
}
*::-webkit-scrollbar-thumb:active{
    background-color: rgba(100, 100, 100, 1);
}

html{
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
	background: rgb(42,42,42);
    color: var(--normal-font-color);
}

header{
    top: 0px;
    background: rgb(42,42,42);
	background: linear-gradient(0deg, rgba(42,42,42,1) 0%, rgba(0,0,0,1) 95%, rgba(0,0,0,1) 100%);
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1;
}

#logo{
    margin-left: 5%;
    display: flex;
    width: 150px;
    float: left;
}

#logo img{
    float: left;
    padding-top: 2px;
    height: 65px;
}

.fas {
    text-align: center;
    color : white;
    margin: auto;
}

.fa-user{
    text-align: center;
    border-radius: 50px;
    font-size : 30px;
    margin: 10px;
}

.fa-search{
    font-size: 15px;
    float: right;
    position: relative;
    top: 25%;
    right: 25px;
    color: black;
    z-index: 1;
}

.fa-search:hover{
    color: cornflowerblue;
}

.fa-user:hover {
    background-color: var(--menu-bg-hover);
}

.user-dropdown{
    display: none;
    text-align: right;
}

.user-dropdown a{
    display: block;
    text-decoration: none;
    background-color: var(--menu-bg);
    color: var(--normal-font-color);
    text-align: center;
    padding: 8px;
    width 100%;
}

.user-dropdown a:hover {
    background-color: var(--menu-bg-hover);
    color: var(--onhover-font-color);
}

#user:hover .user-dropdown {
    display: block;
    color: red;
}

#user{
    display: block;
    height: 100%;
    width: 75px;
    float: right;
    margin-right: 5%;
}

#search-container{
    height: 100%;
    display: inline-block;
    float: right;
}

#searchbar{
    height: auto;
    border-radius: 15px;
}

input[type=text] {
    position: relative;
    top: 20%;
  	float: right;
    height: auto;
    margin: auto;
    font-size: 15px;
    border-radius: 20px;
}

#main-container{
    position: relative;
    display: flex;
    top: 70px;
    height: 100%;
    width: 100%;
}


/*SIDEBAR*/
#sidebar{
    display: inline-block;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    max-width: 350px;
    height: 100%;
    padding-left: 10px;
}

#option-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#option-container *{
    text-decoration: none;
    padding: 5px;
    color: var(--normal-font-color);
}

#option-container *:hover{
    color: white;
}


/*QUEUE*/
#queue-container {
    display: flex;
    flex-direction: column;
    height: 580px;;
    overflow:hidden;
    overflow-y:scroll;
    padding-right: 10px;
}

.queue-song-container {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 2px;
    padding-top: 2px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.queue-albumart {
    max-width:100%;
    max-height:60px;
    padding-right: 10px;
}

.queue-song-name {
    font-size: 0.8rem;
}

.queue-artist-name {
    margin: auto;
    font-size: 0.7rem;
}

.queue-song-name > .fa-play-circle, .queue-song-name > .fa-heart, .queue-song-name > .fa-pause-circle{
    font-size: 1rem;
    padding-left: 10px;
    color: var(--normal-font-color);
}

.queue-song-name > .fa-play-circle:hover, .queue-song-name > .fa-heart:hover, .queue-song-name > .fa-pause-circle:hover{
    color: red;
}

.queue-song-container:hover{
    border-left: 4px red solid;
    color: var(--onhover-font-color);
}


/*BODY*/
#app-body{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    width: 75%;
    min-width: 400px;
}


/*SLIDER*/

#i1, #i2, #i3, #i4, #i5{
    display: none;
}

#slider-container{
    margin: 0 auto;
    position: relative;
    width: 80%;
    height: 0;
    padding-bottom: 25%;
}

#slider-container .slide{
    position: absolute;
    width: 100%;
    height: 100%;
}

#slider-container .slide img{
    height: inherit;
    width: inherit;
}

 .prev, .next{
    width: 15%;
    height: inherit;
    position: absolute;
    top:0; 
    background-color: rgba(88, 88, 88,.2);
    color:rgba(244, 244, 244,.9);
    z-index: 99;
    transition: .45s;
    cursor: pointer;
    text-align: center;
}

.next{right:0;}
.prev{left:0;}

label span{
    position: absolute;
    font-size: 50pt;
    top: 50%;
    transform: translateY(-50%);
}

.prev:hover, .next:hover{
    transition: .3s;
    background-color: rgba(88, 88, 89,.8);
    color: #ffffff; 
}

#slider-container #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	top: -5px;
	width: 18px;
	height: 18px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.9);
	transition: .25s
}

.slide{
    z-index: -1;
}

#i1:checked ~ #slide1,
#i2:checked ~ #slide2,
#i3:checked ~ #slide3,
#i4:checked ~ #slide4 {
    z-index: 9; animation: scroll 1s ease-in-out;
}

#i1:checked  ~  #nav_slide #dot1,
#i2:checked  ~  #nav_slide #dot2,
#i3:checked  ~  #nav_slide #dot3,
#i4:checked  ~  #nav_slide #dot4{
    background-color: rgba(255,255,255,.9);
}


/*SCROLLABLE VIEWS*/

/*LATEST-RELEASE*/
.scrollable-view-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.item-container{
    margin: 5px;
    padding: 5px;
    background-color: rgba(20,20,20,1);
    border-radius: 10px;
}

.item-container img{
    border-radius: 10px;
    width: 130px;
}

.item-container p{
    padding-left: 10px;
}

.item-container:hover {
    padding: 0;
    margin: 0;
    transition: .2s;
}

.item-container:hover img{
    padding: 0;
    margin: 0;
    width: 150px;
    border-radius: 10px;
    transition: .2s
}

/*ARTIST*/
#artists {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.artist-container {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.artist-container img {
    width: 130px;
    border-radius: 100%;
}

a{
    text-decoration: none;
    color: var(--normal-font-color);
}

a:hover {
    color: var(--onhover-font-color);
}

.artist-container p {
    text-align: center;
}

.artist-container:hover {
    padding: 0;
    margin: 0;
    transition: .2s;
}

.artist-container:hover img{
    padding: 0;
    margin: 0;
    width: 150px;
    border-radius: 100%;
    transition: .2s
}



/*ROUGH*/



/*FOOTER*/
#player-container{
    display: flex;
    background-color: rgba(40, 40, 40, 1);
    position: fixed;
    width: 100%;
    height: 110px;
    bottom: 0px;
    justify-content: space-between
}

#control-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
}

#vol-control-container {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 20%;
    justify-content: space-around;
}


.song-container{
    height: 100%;
    width: 250px;
}

.song-details{
    display: inline-block;
    float: left;
    height: 100%;
    width: auto;
    text-align: left;
}

.song-name{
    padding-left: 4px;
    font-size: 1rem;
}

.song-name:hover, .artist-name:hover, .album-name:hover{
    border-left: 4px solid red;
    color: var(--onhover-font-color);
}

.artist-name, .album-name{
    padding-left: 3px;
    font-size: 0.8rem;
}

.small-albumart{
    position: relative;
    float: left;
    display: inline-block;
    height: 80px;
    margin: 15px;
}

.fa-heart {
    margin-left: 10px;
}

#control-buttons{
    display: flex;
    padding-top: 30px;
}

#control-buttons *{
    padding-left: 15px;
    padding-right: 15px;
}

#time{
    width: 100%;
}

#time-slider{
    padding-top: 30px;
}


#vol-control-container i{
    padding-right: 10px;
}

#vol-control-container input{
    margin-right: 40px;
    width: 60%;
}