

header{
    width= 90%;
    height: 80px;
    border: 2px solid black;
}

#logo{
    display: inline;
    width: 150px;
    float: left;
    border: 2px solid black;
}

#logo img{
    height: 100%;
    float: left;
}

#searchbar{
    display: inline;
    height: 100%;
    border: 2px solid black;
    float: right;
}



#user{
    display: inline;
    height: 100%;
    border: 2px solid black;
    float: right;
}

#main-container{
    width: 100%;
    height: 100%;
    border: 2px solid black;
}


#sidebar{
    width: 20%;
    height: 100%;
    border: 2px solid black;
}

#option-container{
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.options{
    border: 1px solid black;
}

#player{
    
}